<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Geolocation</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!--    map stylesheet-->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.1.0/dist/leaflet.css" integrity="sha512-wcw6ts8Anuw10Mzh9Ytw4pylW8+NAD4ch3lqm9lzAsTxg0GFeJgoAtxuCLREZSC5lUXdVyo/7yfsqFjQ4S+aKw==" crossorigin="" />
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="static/css/mycss.css">
    <!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!--    bootrap-slider stylesheet-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.1/css/bootstrap-slider.css" integrity="sha256-g/Yx9XZ2VfCMlHajAkDvUaloh0BijzCWNMAr7krsZwk=" crossorigin="anonymous" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!--    map js-->
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js" integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg==" crossorigin="">
</script>
    <!--    bootstrap-slider-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.1/bootstrap-slider.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" src="static/js/moment.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet"> 
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
</head>


<body>
    <nav class="navbar-inverse navbar-static-top">
        <div class="container">
            <p class="navbar-text navbar-right"><span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>PositioningSystem</p>
        </div>
    </nav>
    <div id="map" style="width: auto;height: 600px;"></div>
    <br>
    <br>
    <div align="center">
        <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="83" data-slider-step="1" data-slider-value="0" />
    </div>
    <span id="ex1CurrentSliderValLabel">Current time: <span id="ex1SliderVal"></span></span>
    <br>
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default" onclick="singleSPeed()">1X</button>
        <button type="button" class="btn btn-default" onclick="doubleSPeed()">2X</button>
        <button type="button" class="btn btn-default " onclick="qtrSPeed()">4X</button>
    </div>
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default" onclick="setUser1()">user1</button>
        <button type="button" class="btn btn-default" onclick="setUser2()">user2</button>
    </div>
    <a href="https://github.com/fafasonga/Thesis/tree/master/Map_trajectory" class="btn btn-default">Animations Users</a>
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <p id="records"></p>

    <script>
        var socket = io('/screens-namespace');

        //calling the Json file stored in the Server
        var url = "http://localhost:8221/test_me/inden.json";

        // Instantiate a slider
        var mySlider;

        // Call a method on the slider  
        var value = [];

        var userdata;
        var records = [];
        var tmp = 0;
        var step = 1;

        var User1Data = [];
        var User2Data = [];
        var interval;

        var markersLayer = new L.LayerGroup();
        var userpressed = false;

        //Retrieving Json data stored in the server
        var xmlrequest = new XMLHttpRequest();

        xmlrequest.onreadystatechange = function() {
            if (this.readyState == 4) {
                if (this.status == 200) {
                    var data = JSON.parse(this.responseText);
                    //console.log(data)
                    setData(JSON.parse(this.responseText), true);
                    init();
                }
            }
        };
        xmlrequest.open("GET", url, true);
        xmlrequest.send();

        //Setting the data values
        function setData(data, start) {
            if (data != undefined) {
                userdata = data.records;
                for (var i = 0; i<userdata.length; i++) {
                    value.push(userdata[i].time);
                }
            }
        }


        //Creating a map with coordinates of Beinjing
        var mymap = L.map('map').setView([40, 116.3999], 13);

        //adding tile layers to our map
        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
            maxZoom: 20,
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                'Imagery © <a href="http://mapbox.com">Mapbox</a>',
            id: 'mapbox.streets'
        }).addTo(mymap);


        function init(){

            markersLayer.addTo(mymap);

            userdata.forEach(function(records){
                if(records.name == 'user 1'){
                    User1Data.push(records);
                }else{
                    User2Data.push(records);
                }        
            });

            User1Data.sort(function(a, b) {
                return new Date((a.date + " " + a.time).toString()) - new Date((b.date + " " + b.time).toString())
                User1Data.push(records);
            
            });

            User2Data.sort(function(a, b) {
                return new Date((a.date + " " + a.time).toString()) - new Date((b.date + " " + b.time).toString())
                User2Data.push(records)
            });

            

            mySlider = $("#ex1").slider({
            formatter: function (val) {
                return 'Selected time:' + value[val]; 
            }
        });


            mySlider.on("slideStop", function(slideEvt) {
                $("#ex1SliderVal").text(value[slideEvt.value]);
                tmp = slideEvt.value;

                for(var i = 0; i < slideEvt.value; ++i)
                    markersLayer.addLayer(L.marker([User1Data[i].places.latitude, User1Data[i].places.longitude]));

                interval = setInterval(loop, 1000);
            });

            mySlider.on("slideStart", function(slideEvt) {
                clearInterval(interval);

                markersLayer.clearLayers();
                mymap.removeLayer(markersLayer);
                markersLayer.addTo(mymap);
            });

     
            var user1Pressed;
            var user2Pressed;
            var cnt = 0;   
            interval = setInterval(loop, 1000);
        }

        function loop()
            {
                if(userpressed){
                    //$('.slider-handle').css("left", tmp++);
                    mySlider.slider('setValue', tmp++)

                    if(tmp > userdata.length)
                        tmp = 0;
                    cnt = 0;
                    if(records != undefined){
                        for(var t=0; t<tmp; t++)
                        {
                            markersLayer.addLayer(L.marker([records[t].places.latitude, records[t].places.longitude]));                
                        }
                        if(step >= records.length){
                                step = 1;
                                tmp = 0;
                        }else step++;
                        $("#ex1SliderVal").text(records[t].time);
                    }
                }
            }


        function setUser1()
        {
            userpressed = !userpressed;
            user1Pressed = true;
            user2Pressed = false;
            var tmp = 0;
            var step = 1;
            records = User1Data;
            markersLayer.clearLayers();
            mymap.removeLayer(markersLayer);
            markersLayer.addTo(mymap);
        }

        function setUser2()
        {
            userpressed = !userpressed;
            user1Pressed = false;
            user2Pressed = true;
            var tmp = 0;
            var step = 1;
            records = User2Data;
            markersLayer.clearLayers();
            mymap.removeLayer(markersLayer);
            markersLayer.addTo(mymap);
        }

        function singleSPeed() {
            clearInterval(interval)

            interval = setInterval(loop, 1000);
        }

        function doubleSPeed() {
            clearInterval(interval)

            interval = setInterval(loop, 500);

        }

        function qtrSPeed() {
            clearInterval(interval)

            interval = setInterval(loop, 250);
        }
    

</script>
</body>
</html>
